extends layout

block content

  #loader
    .loading-icon

  #place
    #place-image
      a(href='#')#yelpLogo
        img(src='/images/Yelp_trademark_RGB_outline.png' alt='Yelp')
      .top-info
        h2#name
        img(alt='rating')#rating
    .voteButtons
      button#no.vote Not for Me
      button#yes.vote Looks Good!
    .info
      .cols
        p#distance
        p#phone
      p#address

  script(src='/javascripts/indexScripts.js')
