extends layout

block content

  #loader
    .loading-icon

  #place
    .photo
      img#place-image
      .top-info
        h2#name
        p#rating
    .voteButtons
      button#no.vote Not for Me
      button#yes.vote Looks Good!
    .info
      .cols
        p#distance
        p#phone
      p#address

  h3 Saved ID's
  ul#saved-list

  script(src='/javascripts/indexScripts.js')
