doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .nav
      a(href='/') Discover
      a(href='/saved') Saved

    .content
      block content
