extends layout

block content
  #index
    h1 SnacksNearU

    form(action="/explore", method="post").searchForm
      input(type="search", name="term")
      input(type="hidden", name="lat", id="lat")
      input(type="hidden", name="lon", id="lon")
      input(type="submit", value="Search", disabled)#submit

    p#gettingLoc Getting Location...

  script(src='/javascripts/index.js')