extends layout

block content
  h1 SnacksNearU

  form(action="/explore", method="post")
    input(type="search", name="search")
    input(type="hidden", name="lat", id="lat")
    input(type="hidden", name="lon", id="lon")
    input(type="submit")

  script(src='/javascripts/index.js')