include _search

doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Karla", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/nav.js' defer)
  body

    #wrapper
      button#navButton &#9776;
      nav#nav
        ul
          li
            a(href='/') Home
        block nav

      .content
        block content

    script.
      document.getElementById('dist').addEventListener('input', () => {
        document.getElementById('distance').innerText = document.getElementById('dist').value;
      });